*
!*/
layout/

# dependencies
/node_modules

# testing
/coverage

# production
/build

# configurations
!/.gitignore
!/package.json
!/.webpack.config.js
!/.babelrc

# assets
!*.html
!*.css
!*.js
!*.md
#images
!*.svg
!*.png
!*.jpg
!*.jpeg
#fonts
!*.woff
!*.woff2
!*.ttf