.portfolio-section {
	display: block;
	margin: 0 auto;
	padding: 20px 25px;

	font-family: 'Open Sans', sans-serif;
}

.portfolio-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.portfolio-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	margin-bottom: 5px;
	padding: 5px 10px;
	
	background-color: whitesmoke;

	border: 3px solid steelblue;
	border-radius: 2px;
}

.portfolio-group--bottom {
	display: flex;
}

.portfolio-group--bottom .portfolio-link {
	margin-right: 5px;
}

.portfolio-group--bottom .portfolio-details {
	margin-right: 0;
}

.portfolio-title {
	display: block;
	margin: 0 0 2px 0;
	padding: 0;

	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
}

.portfolio-description {
	display: block;
	margin: 0 0 10px 0;
	padding: 0;

	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}

.portfolio-details {
	display: block;

	width: min-content;
	max-width: 120px;

	margin: 0;
	padding: 5px 10px;

	background-color: lavender;

	border: 2px solid cornflowerblue;
	border-radius: 2px;

	box-sizing: border-box;

	font-size: 18px;
	line-height: 24px;
	font-weight: normal;

	cursor: pointer;
}

.portfolio-details:hover {
	filter: brightness(90%);
}

.portfolio-details:active {
	filter: brightness(80%);
	box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.portfolio-link {
	display: block;

	width: min-content;
	max-width: 120px;

	margin: 0;
	padding: 5px 10px;

	background-color: lavender;

	border: 2px solid cornflowerblue;
	border-radius: 2px;

	box-sizing: border-box;

	font-size: 18px;
	line-height: 24px;
	font-weight: normal;

	text-decoration: none;
}